@import 'https://cdnjs.cloudflare.com/ajax/libs/marp-core/3.6.0/marp-core.min.css';

section.bigtext h1 {
  font-size: 2.6rem;
  color: #0066cc;
}

section {
  font-family: 'Segoe UI', sans-serif;
}

